# This ignores app2 node modules
app2/node_modules

# This ignores app2_redo node moudles
app2_redo/node_modules

# This ignors app1trial node modules
app1trial/node_modules

# This ignores the ds
app1trial/.DS_Store
